
@import "./colors";
@import "./fonts";
@import "./links";
@import "./buttons";
@import "./spacings";
@import "./icons";
@import "./animations";
@import "./modal";
@import "./listView";
@import "./scheduleView";

body {
    background: $primary-color-light;
    font-family: 'Roboto', sans-serif;
    color: $primary-text-color;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    width: 100%;
    height: 100vh;


    header {
        background: $primary-color;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $primary-color-icons;

        #leftHead, #rightHead {
            margin: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            * { 
                display: flex;
                align-items: center;
            }
        }

    }

    main {
        display: grid;
        background: $primary-color-light;
        width: 100%;
        height: 100%;

    }
    
    a i {
        font-size: x-large;
        color: white;
        display: inline-block;
    }

}

